{% extends "base.html" %}

{% block content %}
  <h2>Registered Users</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="3">Пользователи не найдены.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
