{% extends "base.html" %}

{% block content %}
  <h2>Вход</h2>

  <!-- Блок для отображения сообщений -->

  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <p>
      {{ form.email.label }}<br>
      {{ form.email(size=32) }}
      {% if form.email.errors %}
        <span style="color: red;">{{ form.email.errors[0] }}</span>
      {% endif %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
    </p>
    <p>{{ form.remember() }} Запомнить меня</p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
